
CardLoadingView/CardLoadingView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CardLoadingView/CardLoadingView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CardLoadingView/CardLoadingView.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
CardLoadingView/CardLoadingView.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
